.Navbar {
	width: 100%;
	background-color: #d4c824;
}
.Navbar .container {
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
.title {
	font-size: 2rem;
}
.navItems {
	font-size: 1.5rem;
	text-align: end;
}

.navItems a {
	display: inline-block;
}

.nav-link {
	margin-left: 1rem;
}
